.footer_bottom {
    height: 10vh;
    padding-left: 6rem;
    padding-right: 6rem;
    justify-content: space-between;
    align-items: stretch;
    display: flex
}

.text-weight-bold {
    color: rgb(30, 29, 29);
}